/* for home page css starts */


.height{
  height: 600px;
  width: 100%;
  background-image: 
  url(https://plus.unsplash.com/premium_photo-1663045225240-3c305414e9a3?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  object-fit: cover;
  
}
.fork{
  background-position: center;
  
  background-size: cover;
}

.texting{
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding-top: 200px;
  text-shadow: 0px 0px 10px black;
  color: black;
}
.menu{
  max-width: 60%;
}
button1 {
  padding: 17px 15px;
  /* border-radius: 50px; */
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  /* text-transform: lowercase; */
  font-size: 15px;
  transition: all 0.5s ease;

}

button1:hover {
  letter-spacing: 3px;
  background-color: orange;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button1:active {
  letter-spacing: 3px;
  background-color: orange;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
.button{
  margin-left: 600px;
}
 .mobile{
  
  background-size: cover;

  object-fit: cover;
 
  height: 600px;
  width: 300px;
 }
 .bus{
  color: red;
 }
 .green{
  color: green;
 }
 .yellow{
  color: yellow;
 }
 .blue{
  color: skyblue;
 }

@media (max-width: 768px) {
  .height{
    height: 100%;
    
  }
  .texting{
    font-size: 30px;
    padding-top: 70px;
    
  }
  .button{
    margin-left: 120px;

  }
  .menu{
    max-width: 100%;
  }
}

/* Navbar css starts */

.navbar{
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.navbar .zwiagto{
  width: 70px;
  height: 70px;
  }
  .navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
  }
  .navbar-search{
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
  .navbar button:hover{
    background-color: #fff4f2;
    }
    .navbar .active{
      padding-bottom: 2px;
      border-bottom: 2px solid #49557e;
    }
    .navbar li{
      cursor: pointer;
    }
    .navbar-cart{
      position: relative;
    }
    .navbar-cart .dot{
      position: absolute;
      min-width: 10px;
      min-height: 10px;
      background-color: tomato;
      border-radius: 5px;
       top: -8px;
       right: -8px;
    }
    /* navbar css end */

    /* navbar media query */
    @media (max-width: 1050px){
      .navbar .zwiagto{
        width: 70px;
        height: 70px;
      }
      .navbar-menu{
        gap: 20px;
        font-size: 17px;
        }
        .navbar-search{
          gap: 30px;
        }
        .navbar-search .chashma{
          width: 22px;
        }
        .navbar-search button{
          padding: 8px 25px;
        }
    }
        
        @media (max-width: 900px){
          .navbar .zwiagto{
            width: 70px;
            height: 70px;
          }
          .navbar-menu{
            gap: 20px;
            font-size: 17px;
            }
            .navbar-search{
              gap: 30px;
            }
            .navbar-search .chashma{
              width: 20px;
            }
            .navbar-search button{
              padding: 7px 20px;
              font-size: 15px;
            }  
          }   
          @media (max-width: 750px){
           
            .navbar-menu{
              display: none;
              }
              }
            /* navbar media query ends */

            
                
  



  
  

 
    